venv/
__pycache__/
*.pyc
*.pyo
*.pyd
dataset/
*.h5
!Pneumonia Detector/backend/model/pneumonia_model.h5
Pneumonia Detector/frontend/node_modules/
Pneumonia Detector/frontend/dist/
Pneumonia Detector/backend/__pycache__/
Pneumonia Detector/backend/pneumonia_app.db
